<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="swagger-ui.ZPM">
    <Module>
      <Name>swagger-ui</Name>
      <Version>1.0.1</Version>
      <Description>Interactive Swagger docs for your REST API</Description>
      <Packaging>module</Packaging>
       <CSPApplication
        SourcePath="/swagger"
        DeployPath="${cspdir}swagger-ui"
        Url="/swagger-ui"
        ServeFiles="1"
        Recurse="1"
        CookiePath="/swagger-ui"
        UseCookies="2"
        MatchRoles=":{$dbrole}"
        PasswordAuthEnabled="0"
        UnauthenticatedEnabled="0"
       />
    </Module>
    
  </Document>
</Export>
